<nav class="bg-white shadow-md">
    <div class="max-w-7xl flex justify-between items-center w-[1300px] mx-auto relative bg-white">
      <div href="/" class="font-bold text-3x1">
        <img  alt="" >
      </div>
      <ul class="flex">
        <li>
          <a href="/" class="p-5 inline-block text-gray-500 font-semibold hover:text-black">TRANG CHỦ</a>
        </li>
        <li>
          <a href="" class="p-5 inline-block text-gray-500 font-semibold hover:text-black"> GIỚI THIỆU</a>
        </li>
        <li class="group relative">
        <a href="" class="p-5 inline-block text-gray-500 font-semibold hover:text-black">
            SẢN PHẨM <i class="fas fa-angle-down"></i>
        </a>
          <ul class="absolute left-0 w-[200px] mt-14 opacity-0 invisible 
              group-hover:opacity-100 group-hover:visible group-hover:mt-0
              transition-all duration-500 shadow-md">
                <li>
                  <a href="" class="block p-2 bg-white"> Danh mục</a>
                </li>
          </ul>
        </li>
     <li class="p-5 inline-block group relative">
        <a class="border-r border-gray-300 pr-5 text-gray-500 font-semibold hover:text-black ">
          <i class="fas fa-search text-black"></i>
        </a>
        <ul class="absolute z-50 left-0 w-max mt-14 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:mt-5
            transition-all duration-500 shadow-md -ml-10">
          <li class="bg-white">
            <input
              placeholder="Tìm kiếm..."
              class="border-1 p-2 w-[400px] border-white"
              type="text"
              name=""
              id=""
              
            />
            <button class="bg-black p-2">
              <i class="fas fa-search text-white"></i>
            </button>
          </li>
         
              
             
        </ul>
        
      </li>

        <li class="pr-5 pt-5  inline-block group relative">
          <a href="/admin/product" class="border-r border-gray-300 pr-5 text-gray-500 font-semibold hover:text-black ">
            <i class="fas fa-user text-black"></i> Admin
          </a>
          <ul
            class="absolute z-50 left-0 w-[200px] mt-14 opacity-0 invisible 
              group-hover:opacity-100 group-hover:visible group-hover:mt-5
              transition-all duration-500 shadow-md bg-white"
          >
               
            <li class="p-2">Đăng Nhập</li>
            <li class="p-2">Đăng kí</li>
          
          </ul>
        </li>
        <li class="pr-5 pt-5 inline-block">
          <a href="" class="text-gray-500 font-semibold hover:text-black">
            <i class="fas fa-cart-plus text-black"></i> Giỏ hàng
          </a>
        </li>
      </ul>
    </div>
  </nav>

